# Node modules
node_modules/
npm-debug.log

# Environment variables
#Add .env.local to your .gitignore to prevent accidentally committing secrets
.env
.env.local

# Build folders
dist/
build/
out/

# OS files
.DS_Store
Thumbs.db